body {
    cursor: url(https://file.garden/ZAkEYVkUN2HXHCu3/web/Normal-Select.png), auto !important;
}

a:hover {
    cursor: url(https://file.garden/ZAkEYVkUN2HXHCu3/web/Mac-Cursor.png), auto !important;
}