    body {
    display:block;
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    overflow:auto;
    font-family:ms ui gothic;
    background:black;
}


    ::selection,
-webkit-::selection {
  background: teal;
  color: white;
  text-shadow: none;
}

    #structure {
        margin-left:auto;
        margin-right:auto;
        width:926px;
        display:flex;
        margin-top:33px;
        margin-bottom:33px;
        padding:6px;
        border-radius:0 105px 0 0;
        border:2px solid #000000;
        background: linear-gradient(to bottom, rgba(177,216,245,1) 0%,rgba(190,228,248,1) 25%,rgba(200,238,251,1) 46%,rgba(230,248,253,1) 70%,rgba(253,255,255,1) 88%,rgba(225,255,255,1) 88%,rgba(225,255,255,1) 93%,rgba(225,255,255,1) 100%);
        box-shadow: inset 0px 0px 0px 1px white, 0 0 4px #ffffff;
        flex-wrap:wrap;
}
    
    .flexbox {
        display:flex;
}

    .left {
}

    .right {
}

    .header {
        height:142px;
        border:2px outset #57635e;
        padding:5px;
        margin-bottom:5px;
        border-radius: 0 101px 0 0;
        box-shadow:inset 0px 0px 0px 1px white;
 background:url(https://file.garden/ZAkEYVkUN2HXHCu3/web/images/dighjg.png);
        background-size:cover;
}
    
    .headings {
            font-family: 'Genos', sans-serif;
    color: white;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0 0 3px #000;
            font-size: 4.9em;
         transition: all 0.5s;
    }
    
    .headings:hover {
    webkit-filter: blur(0.5px);
filter: blur(2px);
}

    .container {
        border:2px outset #57635e;
        padding:5px;
        width:650px;
        background:white;
        background: linear-gradient(ghostwhite, ghostwhite, lightgray);
        box-shadow:inset 0px 0px 0px 1px white;    
        border-radius:0 0 10px 10px;
}

    .webmaster {
        border:2px outset #57635e;
        margin-right:5px;
        padding:5px;
        background: linear-gradient(ghostwhite, ghostwhite, #a5abad);
        box-shadow:inset 0px 0px 0px 1px white;
        border-radius:10px;
}

    .pfp {
        width:240px;
        border:1px outset #757575;
        border-radius:5px;     
}

#name {
 background: linear-gradient(180deg, rgb(0 117 128 / 70%) 30%, rgb(56 160 170 / 50%) 70%);
    color: white;
    border: 1px outset #757575;
    border-radius: 5px;
    margin: 0px;
    margin-top:3px;
    box-shadow: inset 0px 0px 0px 1px white, inset 1px 1px 5px white, inset -1px -1px 1px white, inset -1px 1px 5px white, inset 0 -1px 0.5px white;
    text-align: center;
    text-shadow: 1px 1px rgb(0 0 0/30%);
    padding:2px;
    }
    
    
    #info {
        border:1px outset #757575;
        padding:5px;
        border-radius:5px;
        background:#ffffff;
        width:231px;
        box-shadow: inset 1px 1px white, inset -1px -1px white;
        background: linear-gradient(white 50%, #ceded8 70%);
        margin-top:5px;
        font-size:14px;
        color: #3d3d3d;
        text-align:center;
}
    
    
    .about {
        border:1px outset #757575;
        box-shadow: inset 1px 1px white, inset -1px -1px white;
        background: linear-gradient(white 50%, #ceded8 70%);
        padding:5px;
        border-radius:0 0 5px 5px;
    }

    .about-inner {
        border:1px solid black;
        background:linear-gradient(0deg, black, grey);
        padding:5px;
        box-shadow:0px 0px 0px 1px white inset;
        color:white;
        text-shadow: 0px 0px 2px black;
        border-radius: 5px;
        height:228px;
        overflow:auto;
        
}
    
    .tabhead {
        border: 1px outset #757575;
        padding:5px;
        border-bottom:0px;
        height:21px;
        background: linear-gradient(180deg, rgb(0 117 128 / 70%) 30%, rgb(56 160 170 / 50%) 70%), url(/bg/screen.jpg);
        color:white;
        box-shadow: inset 0px 0px 0px 1px white, inset 1px 1px 5px white, inset -1px -1px 1px white, inset -1px 1px 5px white, inset 0 -1px 0.5px white;
        border-radius: 5px 5px 0 0;
        text-shadow: 1px 1px rgb(0 0 0/30%);
        font-style:italic;
}
    
    .tabhead button{
        background:linear-gradient(white 30%, rgba(225,235,255,1), rgb(221 244 255), lightgray);
        border:1px solid #757575;
        border-radius:5px;
        padding:3px;
        width:25px;
        color: #3d3d3d;
        text-shadow: 1px 1px rgb(0 0 0/30%);
    }
    
    .tabhead button:hover{
          background: white;
  background-blend-mode: screen;
  -webkit-background-blend-mode: screen;
        color:teal;
        cursor:pointer;
    }
    
    .tabhead button:active{
          background: linear-gradient(white 30%, rgba(225,235,255,1), rgb(221 244 255), lightgray);
  background-blend-mode: screen;
  -webkit-background-blend-mode: screen;
        color: #3d3d3d;
    }
    
    .headings2 {
        border:1px solid grey;
        padding:3px;
        box-shadow: inset 0px 0px 0px 1px white, inset 1px 1px 5px white, inset -1px -1px 1px white, inset -1px 1px 5px white, inset 0 -1px 0.5px white;
        text-align: left;
        text-shadow: 1px 1px rgb(0 0 0/30%);
        background: linear-gradient(180deg, rgb(0 117 128 / 70%) 30%, rgb(56 160 170 / 50%) 70%);
        width:170px;
        border-radius:0 10px 0 10px;
        margin:0px;
        margin-bottom:5px;
        font-style:italic;
        font-size:1em;
}

    
    .blinkies {
        border:1px outset grey;
        padding:2px;
        border-radius:5px;
        margin-top:5px;
        background:white;

    }
    
    .extra {
        border:1px outset #757575;
        box-shadow: inset 1px 1px white, inset -1px -1px white;
        background: linear-gradient(white 50%, #ceded8 70%);
        padding:5px;
        border-radius:0 0 5px 5px;
        height:235px;
        width:394px;
        overflow:auto;
}
    
    .extra-inner {
        border:1px solid black;
        background:linear-gradient(0deg, black, grey);
        padding:5px;
        height:166px;
        box-shadow:0px 0px 0px 1px white inset;
        color:white;
        text-shadow: 0px 0px 2px black;
        border-radius: 0 5px 5px 5px;
        overflow:auto;
        text-align:center;
        font-size:14px;
}
    
    #list {
    text-align: center;
    display: block;

}

#list p {
    width: 49%;
    display: inline-block;
    text-align: left;
    margin:0px;
}
    
    .extra hr {
        border:1px dotted white;
        border-bottom:none;
    }

    .headings3 {
        margin:0px;
        border:1px outset black;
        width:150px;
        padding:2px;
        border-bottom:none;
        border-radius:5px 50px 0 0;
        background: linear-gradient(180deg, rgb(0 117 128 / 70%) 30%, rgb(56 160 170 / 50%) 70%);
        box-shadow: inset 0px 0px 0px 1px white, inset 1px 1px 5px white, inset -1px -1px 1px white, inset -1px 1px 5px white, inset 0 -1px 0.5px white;
        text-shadow: 1px 1px rgb(0 0 0/30%);
        color:white;
        font-style:italic;
}

.comp {
    border: 1px solid black;
    padding: 5px;
    background: white;
    border-radius: 5px;
    border: 1px outset gray;
    overflow-y:scroll;
    height:225px;
}
    
    .comp img{
        width:100px;
        border:1px solid black;
}
    
    .fanlistings {
        border:2px outset #57635e;
        margin-right:5px;
        padding:5px;
        background: linear-gradient(ghostwhite, ghostwhite, #a5abad);
        box-shadow:inset 0px 0px 0px 1px white;
        border-radius:10px;
        margin-top:5px;
}
    
      .fanlist-inner {
         border:1px outset #757575;
        box-shadow: inset 1px 1px white, inset -1px -1px white;
        background: linear-gradient(white 50%, #ceded8 70%);
        padding:5px;
        border-radius:0 0 5px 5px;
        height:239px;
          overflow:auto;
          width:231px;
          text-align:center;
       
}
    
    .fanlistings img {
        filter: grayscale(100%);
        transition: all 0.5s;
    }
    
    .fanlistings img:hover {
        filter:none;
        position: relative;
    transform: translate(0px, -5px);
    }
    
    
    .links {
    color: white;
    background: linear-gradient(teal, lightblue);
    padding: 3px;
    font-size: 11px;
    margin-top: 5px;
    border: 2px outset #57635e;
    font-size: 16px;
    text-align: center;
    width:916px;
    border-radius:5px;
        box-shadow:inset 0px 0px 0px 1px white;
}
    
    .links p {
    background: linear-gradient(ghostwhite, ghostwhite, #a5abad);
    padding: 3px;
    margin: 0px;
        border:1px outset #757575;
        border-radius:5px;
}
    
    .links a {
      color: #3d3d3d;
        text-decoration:none;
}
    
    .links a:hover{
        color:rgb(0 117 128 / 70%);
    }

audio {
    width: 206px;
    height: 30px;
    background: white;
    filter: invert(1) contrast(2);
    border: 1px solid gray;
    margin-top: 7px;
    border-radius:5px;
}

    .player {
    width: 205px;
    color: black;
    z-index: 10;
    position: fixed;
    bottom: 4px;
    left: 5px;
    font-weight: bold;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
    
    .home {
    color: black;
    z-index: 10;
    position: fixed;
    font-weight: bold;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    top: 4px;
    left: 5px;
}
    
    .home a {
        text-decoration: none;
        color:black;
}
    
    .home a:hover {
        font-style:italic;
}
